@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fef6e4;
  background-color: #232946;
  font-family: 'Cousine', monospace;
  margin-top: 40px;
}

h1 {
  color: #232946;
  font-size: 25px;
  /* font-family: Roboto, sans-serif; */
  font-weight: 900;
  text-align: center;
  margin: 20px 0;
}

.app-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 50px;
}

/* LISTA DE TAREAS */
.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #fef6e4;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}